<template>
  <body>
    <router-view />
  </body>
</template>

<script>
  import Vue from "vue";
  import {mapState, mapGetters, mapActions} from 'vuex';



  export default {
    components: {
      
    },
  }
</script>
<style lang="scss" scoped>
</style>

