<template>
    <div class="audio_player">
        <span class="start_time">00:00</span>
        <div class="time_line_bg">
            <div class="time_line"></div>
        </div>
        <span class="end_time">00:00</span>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>