<template>
    <transition name="modal">
        <div class="modal">
            <div class="modal_bg"></div>
            <div :class="modalContentsClasses" :style="modalContentsStyles">
                <i class="icon-ico-cancel-24px modal_close" v-show="isClose" @click="closeClicked"></i>
                <slot name="title"></slot>
                <slot name="content"></slot>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            width: {
                type: Number,
            },
            backgroundColor: {
                type: String,
            },
            isClose: {
                type: Boolean,
                default: false,
            },
            modalAddClass: {
                type: Array,
                default: () => [],
                required: false,
            }
        },
        computed: {
            modalContentsClasses() {
                return ['modal_contents'].concat(this.modalAddClass);
            },
            modalContentsStyles() {
                let customContentsStyle = {}
                if(this.width) {
                    customContentsStyle["width"] = `${this.width}px`;
                }
                if(this.backgroundColor) {
                    customContentsStyle["background-color"] = `#${this.backgroundColor}`;
                }
                return customContentsStyle;
            }
        },
        methods: {
            closeClicked() {
                this.$emit('popup:notifyClosed');
            },
        },
    }
</script>