<template>
    <section>
        <button class="script_all_player" @click="btnAllPlay">
            <i class="icon-ico-play-white-24px"></i>
            <span>전체 재생</span>
        </button>
        <AVAAudio ref="AudioComponent" :dataSource="jobScripts" @notify:play="handlerAudioPlayed" @notify:ended="handlerAudioEnded"></AVAAudio>
    </section>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAAudio from '@/components/common/AVAAudio.vue';
    export default {
        components: {
            AVAAudio,
        },

        computed: {
            ...mapState('job', {
                jobScripts: 'jobScripts',
            }),
            ...mapState('player', {
                cursor: 'cursor',
                changeTrack: 'changeTrack',
                forceTrackStop: 'forceTrackStop',
            }),
            ...mapGetters('player', {
                findConvertableJobScriptIndex: 'findConvertableJobScriptIndex',
            }),
        },
        methods: {
            ...mapActions('job', {
                detectMoreConvertScripts: 'detectMoreConvertScripts'
            }),
            ...mapActions('player', {
                updateCursor: 'updateCursor',
                clearCursor: 'clearCursor',
                clearTrackStop: 'clearTrackStop',
                forceChangeTrack: 'forceChangeTrack',
                clearChangeTrack: 'clearChangeTrack',
            }),
            handlerAudioPlayed(playCursor) {
                this.updateCursor(playCursor);
            },
            async handlerAudioEnded({playCursor, listenMode, loopMode, hasNext, sleep}) {
                if (this.forceTrackStop) {
                    this.$refs.AudioComponent.actionStopTrack();
                    this.clearCursor();
                    this.clearTrackStop();
                    return;
                }
                 if (listenMode == 1) {
                    let isEnd = false;
                    if (hasNext) {
                        await this.$refs.AudioComponent.actionStopTrackEnd();
                        await this.$refs.AudioComponent.actionSleep(sleep);
                        let nextCursor = playCursor + 1;
                        let candTrackCursor = this.findConvertableJobScriptIndex(nextCursor);
                        if (nextCursor > -1) {
                            await this.detectMoreConvertScripts(nextCursor);
                            await this.$refs.AudioComponent.actionPlayTrack(candTrackCursor);
                        } else {
                            isEnd = true;
                        }
                    } else {
                        isEnd = true;
                    }
                    if (isEnd) {
                        this.$refs.AudioComponent.actionStopTrack();
                        this.clearCursor();
                    }
                 } else {
                    this.$refs.AudioComponent.actionStopTrack();
                    this.clearCursor();
                }
                    
            },
            async btnAllPlay() {
                this.forceChangeTrack({ cursor: 0, needForConvert: true, endPlay: true });
                // await this.$refs.AudioComponent.actionStopTrackEnd();
                // let candTrackCursor = this.findConvertableJobScriptIndex();
                // await this.$refs.AudioComponent.actionPlayTrack(candTrackCursor);
            }
        },
        watch: {
            changeTrack: {
                deep: true,
                async handler(newValue, oldValue) {
                    if (newValue.cursor > -1) {
                        await this.$refs.AudioComponent.actionStopTrackEnd();
                        this.$refs.AudioComponent.setListenMode(newValue.endPlay)
                        let nextCursor = newValue.cursor;
                        //let nextCursor = await this.findConvertableJobScriptIndex(newValue.cursor);
                        if (nextCursor > -1) {
                            if (newValue.needForConvert) {
                                await this.detectMoreConvertScripts(nextCursor);
                            }
                            await this.$refs.AudioComponent.actionPlayTrack(nextCursor);
                            this.clearChangeTrack();
                        } 
                    }
                }
            },
        },
        
    }
</script>

<style lang="scss" scoped>

</style>