<template>
    <section id="script_list">
        <section v-if="this.dummyTest">
            <textarea style="width:100%;" rows=10 ref="test">차가운 듯 귀여운 표정
의외로 듬직한 니 어깨
까칠한 듯 다정한 말투
나 꽁꽁 얼어버렸어
눈앞이 점점 캄캄해져
아무것도 보이질 않아
혹시 내 맘 들켜버릴까
두 눈을 감아 버렸어
차가워 맘이 시려
아무것도 할 수 없어
Loving you 
이런 날 이제 어쩌면 좋아
For You  여름 안에 너와나 얼음 같은 너와나
차갑게 얼린 내 맘을 녹여줘요
For You  여름 안에 너와나 햇살처럼 다가와
웃어줄래 내 맘 가져가 
해도 해도 너무 하잖아
마동석 보다 천사 같아
까칠한 듯 귀여운 미소
살며시 녹아버렸어
차가워 맘이 시려
아무것도 할 수 없어
Loving you 
이런 날 이제 어쩌면 좋아 
For You  여름 안에 너와나 얼음 같은 너와나
차갑게 얼린 내 맘을 녹여줘요
For You  여름 안에 너와나 햇살처럼 다가와
웃어줄래 내 맘 가져가 
수많은 사람 중에 난 너에게만 보일래
이런 내 모습 어색하겠지만
널 닮은 바다에 기대 잠든 모습에
털썩 주저앉은 나를 어떡해
여름 안에 너와나 얼음 같던 너와나
니가 와준다면 이젠 시작 할래
For You  여름 안에 너와나 햇살처럼 다가와
웃어줄래 내 맘 가져가 </textarea>
            <div class="testAdd" @click="testClicked"></div>
        </section>
        
        <draggable tag="ul" v-model="jobScripts" @start="drag=true" @end="drag=false" v-bind="dragOptions">
            <transition-group type="transition" :name="!drag ? 'flip-list' : null" >
                <ScriptMainItem
                    v-for="(item, index) in jobScripts"
                    :label="`${index + 1}`"
                    :jobScript="item"
                    :index="index"
                    :key="`script-${index}`">
                </ScriptMainItem>
            </transition-group>
        </draggable>
        <AVAPlayer></AVAPlayer>
    </section>
</template>

<script>
    import draggable from 'vuedraggable'

    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAPlayer from '@/components/common/AVAPlayer';
    import ScriptMainItem from './ScriptMainItem';   

    export default {
        components: {
            draggable,
            AVAPlayer,
            ScriptMainItem,
        },
        data() {
            return {
                drag: false,
                dummyTest: false,
            }
        },

        computed: {
            jobScripts: {
                get() {
                    return this.$store.state.job.jobScripts;
                },
                set(value) {
                    this.$store.commit('job/setJobScripts', value)
                }
            },
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                };
            },
            ...mapState('character', {
                characters: 'characters',
            }),
            ...mapGetters('job', {
                getLastIndexFromJobScripts: 'getLastIndexFromJobScripts'
            }),
        },
        methods: {
            ...mapActions('job', {
                insertAtJobScript: 'insertAtJobScript',
                updateAtJobScriptText: 'updateAtJobScriptText',
                detectMoreConvertScripts: 'detectMoreConvertScripts',
            }),
            testClicked() {
                let lines = this.$refs.test.value.split(/\r?\n/);
                let vm = this;
                let scriptLen = this.getLastIndexFromJobScripts();
                lines.forEach((line, i) => {
                    var min=0; 
                    var max=vm.characters.length -1;  
                    var random = Math.floor(Math.random() * (+max - +min)) + +min; 
                    let characterId = vm.characters[random].characterId;
                    this.insertAtJobScript({index:scriptLen, characterId: characterId, text: line})
                })
                //
                //this.$store.state
                //console.log(text);
            }
        }
    }
</script>
