<template>

    <li :id="[`script-${$options.filters.numberPad(this.label)}`]" class="script">
        <ul>
            <li class="index">
                <i class="icon-ico-handle-24px"></i>
                <span class="font_10_r ">Script <em>{{this.label | numberPad}}</em></span>
                
                <AVAAudioSeekTime></AVAAudioSeekTime>
                <div class="function_buttons">
                    <i id="audio_play_button" class="icon-ico-play-speaker-16px icon_bg_24 bg_purple" @click="audioPlayClicked"></i>
                    <i class="icon-ico-copy-16px icon_bg_24 bg_blue" @click="copyToClipboardClicked"></i>
                    <i class="icon-ico-delete-16px icon_bg_24 bg_sky_blue" @click="removeJobScriptClicked"></i>
                </div>
            </li>
            <li class="conversation">
                <div class="character-spinner-circle character-spinner" v-if="this.isConverting(this.index)"></div>
                <div :class="['avatar', `${character.avatarClassNm}-56`]">
                    <CharacterStretchLoading v-if="this.isPlayEnable(this.index) && this.getIsPlaying(this.index)" ></CharacterStretchLoading>
                </div>
                <button class="font_10_b" @click="changeCharacterClicked"><span>{{character.characterNm}}</span></button>
                <AVATextarea 
                    cols="30" rows="10" placeholder="내용을 입력해주세요." 
                    ref="edit"
                    :value="this.jobScript.scriptText"
                    @textOnChanged="handlerTextOnChanged">
                </AVATextarea>
            </li>
        </ul>
        <div class="add" @click="addJobScriptClicked"></div>
    </li>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVATextarea from '@/components/common/AVATextarea';
    import AVAAudioSeekTime from '@/components/common/AVAAudioSeekTime';
    import CharacterStretchLoading from '@/components/character/CharacterStretchLoading';

    export default {
        components: {
            AVATextarea, AVAAudioSeekTime, CharacterStretchLoading, 
        },
        props: {
            label: {
                type: String,
                default: ''
            },
            jobScript: {
                type: Object,
                default: {}
            },
            index: {
                type: Number,
                default: 0,
            }
        },
        computed: {
            ...mapState('character', {
                characterMap: 'characterMap',
            }),
            //job module store
            ...mapState('job', {
                jobId: 'jobId',               // JOB ID
                jobScripts: 'jobScripts'
            }),
            ...mapGetters('player', {
                findConvertableJobScriptIndex: 'findConvertableJobScriptIndex',
                getIsPlaying: 'getIsPlaying',
                isConverting: 'isConverting',
                isPlayEnable: 'isPlayEnable',
            }),
            characterId() {
                return this.jobScript.characterId;
            },
            character() {
               return this.characterMap[this.characterId];
            },
            
        },
        methods: {
            ...mapActions('base', {
                setModal: 'setModal',
            }),
            ...mapActions('job', {
                insertAtJobScript: 'insertAtJobScript',
                removeAtJobScript: 'removeAtJobScript',
                updateAtJobScriptText: 'updateAtJobScriptText',           // 변경 텍스트 업데이트 처리 - Action caller
                detectMoreConvertScripts: 'detectMoreConvertScripts'
            }),
            ...mapActions('player', {
                forceChangeTrack: 'forceChangeTrack',
                forceTrackStop: 'forceTrackStop',
            }),
            handlerTextOnChanged(value) {
                this.updateAtJobScriptText({ 'index' : this.index, 'text' : value }).then(()=> {
                    console.log("test");
                });

            },
            changeCharacterClicked() {
                this.setModal('CharacterSingleChangePopup')
            },
            audioPlayClicked() {
                this.forceChangeTrack({ cursor: this.index, needForConvert: true, endPlay: false });
            },
            copyToClipboardClicked() {
                let testingCodeToCopy = this.$refs.edit
                testingCodeToCopy.setAttribute('type', 'text')
                testingCodeToCopy.select()

                try {
                    var ClipboardState = document.execCommand('copy');
                    if(ClipboardState === "unsuccessful") {
                        alert("클립보드 실패!")
                    }else {
                        alert("copied")
                    }
                } catch (err) { }
            },
            removeJobScriptClicked() {
                if(this.jobScripts.length == 1) {
                    alert('더 이상 삭제할 수 없습니다.');
                    return;
                }
                this.removeAtJobScript(this.index);
            },
            addJobScriptClicked() {
                this.insertAtJobScript({index:this.index + 1, characterId: this.characterId})
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>