<template>
    <li>
        <a :href="[`#script-${$options.filters.numberPad(this.label)}`]">Script <em>{{label | numberPad}}</em></a>
    </li>
</template>

<script>
    export default {
        props: {
            label: {
                type: String,
                default: ''
            },
        },
        computed: {
            label_with_format() {
                return filters.numberPad(this.label)
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>