@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: inherit; font-size: 12px; }