@charset "UTF-8";
/* character_list */
.soyeon-72 { background: center / contain url('~@/assets/images/v2_imgs/08.female-calm-soyeon-72px.png') no-repeat #F4F6F8;}
.ria-72 { background: center / contain url('~@/assets/images/v2_imgs/06.female-unique-ria-72px.png') no-repeat #F4F6F8; }
.mina-72 { background: center / contain url('~@/assets/images/v2_imgs/07.female-lively-mina-72px.png') no-repeat #F4F6F8; }
.jiyeon-72 { background: center / contain url('~@/assets/images/v2_imgs/10.female-natural-jiyeon-72px.png') no-repeat #F4F6F8; }
.yuri-72 { background: center / contain url('~@/assets/images/v2_imgs/11.female-honest-yuri-72px.png') no-repeat #F4F6F8; }
.yunjung-72 { background: center / contain url('~@/assets/images/v2_imgs/12.female-friendly-yunjung-72px.png') no-repeat #F4F6F8; }
.sunghun-72 { background: center / contain url('~@/assets/images/v2_imgs/04.male-friendly-sunghun-72px.png') no-repeat #F4F6F8; }
.minjun-72 { background: center / contain url('~@/assets/images/v2_imgs/03.male-calm-minjun-72px.png') no-repeat #F4F6F8; }
.sangjin-72 { background: center / contain url('~@/assets/images/v2_imgs/02.male-natural-sangjin-72px.png') no-repeat #F4F6F8; }
.jungwo-72 { background: center / contain url('~@/assets/images/v2_imgs/01.male-serious-jungwo-72px.png') no-repeat #F4F6F8; }
.seohyun-72 { background: center / contain url('~@/assets/images/v2_imgs/05.children-girl-seohyun-72px.png') no-repeat #F4F6F8; }
.yejun-72 { background: center / contain url('~@/assets/images/v2_imgs/06.children-boy-yejun-72px.png') no-repeat #F4F6F8; }
.melina-72 { background: center / contain url('~@/assets/images/v2_imgs/13.female-eng-Melina-72px.png') no-repeat #F4F6F8; }
.charlie-72 { background: center / contain url('~@/assets/images/v2_imgs/14.male-eng-Charlie-72px.png') no-repeat #F4F6F8; }
.readbooks-72 { background: center / contain url('~@/assets/images/v2_imgs/15.female-readsbooks-mom-72px.png') no-repeat #F4F6F8; }
.jkim-72 { background: center / contain url('~@/assets/images/v2_imgs/16.jkim-72px.png') no-repeat #F4F6F8;}
.suhyun-72 { background: center / contain url('~@/assets/images/v2_imgs/17.suhyun-72px.png') no-repeat #F4F6F8;}

#character_list>ul { background: #FFFFFF; white-space: nowrap; overflow-x: scroll; letter-spacing: -0.02em; height: 136px; box-sizing: border-box; padding: 0 12px; text-align: center; }
#character_list>ul::-webkit-scrollbar { height: 28px; }
#character_list>ul::-webkit-scrollbar-thumb { background-color: #C9D0D8; border-radius: 30px; background-clip: padding-box; border: 12px solid transparent; }
#character_list>ul::-webkit-scrollbar-track { background-color: #FFFFFF; border-radius: 30px; box-shadow: inset 0px 0px 5px white; }
#character_list>ul>li { position: relative; width: 104px; height: 104px; padding: 16px; display: inline-block; box-sizing: border-box; overflow: hidden; transition: width linear .5s; }
#character_list>ul>li:hover { width: 276px; border: 1px solid #EAEAEA; border-radius: 8px; box-sizing: border-box; transition: width linear .5s; }
#character_list>ul>li:hover p { display: none; }
#character_list>ul>li>p { font-weight: 700; width: 72px; text-align: center; }
#character_list .avatar { width: 72px; height: 72px; border-radius: 36px; position: relative; margin: 0 0 1px; }
#character_list li .avatar_detail_info { text-align: left; position: absolute; top: 16px; left: 104px;}
#character_list li .avatar_detail_info>li { height: 20px; margin-bottom: 6px; letter-spacing: -0.08em; }
#character_list li .avatar_detail_info>li:first-child { font-size: 14px; }
#character_list li .avatar_detail_info>li:last-child { margin-bottom: 0; }
#character_list li .avatar_detail_info>li:last-child em { color: #1BAFFD; }
#character_list li .avatar_detail_info>li:last-child::after { display: block; content: ''; width: 58px; height: 1px; background-color: #1BAFFD; margin-top: 2px; }
#character_list>ul>li .icon_bg_24 { border-radius: 12px; padding: 4px; position: absolute; bottom: 0; right: 0; }

/* mini_map */
#mini_map h3 { color: #1db6cc; margin-bottom: 16px; text-align: center; font-size: 14px; font-weight: 700; }
#mini_map ul li { display: block; position: relative; width: 100px; }
#mini_map ul li a { display: block; padding: 4px 24px; border: 1px solid #1db6cc; background-color: #ffffff; border-radius: 12px; margin-bottom: 25px; letter-spacing: -0.06em; box-shadow: 0 2px 6px 0 rgba(29, 182, 204, 0.16); }
#mini_map ul li a em { letter-spacing: -0.06em; }
#mini_map ul li a:hover, #mini_map ul li a:hover em { color: #1db6cc; }
#mini_map ul li:first-child::before { display: none; }
#mini_map ul li::before { position: absolute; top: -19px; left: 49px; content: ''; width: 5px; height: 13px; display: block; background: center / contain url('~@/assets/images/v2_imgs/icon-arrow-minimap.png') no-repeat; }

/* script_list */
.soyeon-56 { background: center / contain url('~@/assets/images/v2_imgs/08.female-calm-soyeon-56px.png') no-repeat #F4F6F8; }
.ria-56 { background: center / contain url('~@/assets/images/v2_imgs/06.female-unique-ria-56px.png') no-repeat #F4F6F8; }
.mina-56 { background: center / contain url('~@/assets/images/v2_imgs/07.female-lively-mina-56px.png') no-repeat #F4F6F8; }
.jiyeon-56 { background: center / contain url('~@/assets/images/v2_imgs/10.female-natural-jiyeon-56px.png') no-repeat #F4F6F8; }
.yuri-56 { background: center / contain url('~@/assets/images/v2_imgs/11.female-honest-yuri-56px.png') no-repeat #F4F6F8; }
.yunjung-56 { background: center / contain url('~@/assets/images/v2_imgs/12.female-friendly-yunjung-56px.png') no-repeat #F4F6F8; }
.sunghun-56 { background: center / contain url('~@/assets/images/v2_imgs/04.male-friendly-sunghun-56px.png') no-repeat #F4F6F8; }
.minjun-56 { background: center / contain url('~@/assets/images/v2_imgs/03.male-calm-minjun-56px.png') no-repeat #F4F6F8; }
.sangjin-56 { background: center / contain url('~@/assets/images/v2_imgs/02.male-natural-sangjin-56px.png') no-repeat #F4F6F8; }
.jungwo-56 { background: center / contain url('~@/assets/images/v2_imgs/01.male-serious-jungwo-56px.png') no-repeat #F4F6F8; }
.seohyun-56 { background: center / contain url('~@/assets/images/v2_imgs/05.children-girl-seohyun-56px.png') no-repeat #F4F6F8; }
.yejun-56 { background: center / contain url('~@/assets/images/v2_imgs/06.children-boy-yejun-56px.png') no-repeat #F4F6F8; }
.melina-56 { background: center / contain url('~@/assets/images/v2_imgs/13.female-eng-Melina-56px.png') no-repeat #F4F6F8; }
.charlie-56 { background: center / contain url('~@/assets/images/v2_imgs/14.male-eng-Charlie-56px.png') no-repeat #F4F6F8; }
.readbooks-56 { background: center / contain url('~@/assets/images/v2_imgs/15.female-readsbooks-mom-56px.png') no-repeat #F4F6F8; }
.jkim-56 { background: center / contain url('~@/assets/images/v2_imgs/16.jkim-56px.png') no-repeat #F4F6F8;}
.suhyun-56 { background: center / contain url('~@/assets/images/v2_imgs/17.suhyun-56px.png') no-repeat #F4F6F8;}

#script_list>ul { width: 696px; padding-bottom: 36px; margin: 0 auto; }
#script_list ul li ul li.conversation { background-color: #ffffff; height: 116px; padding: 16px; box-sizing: border-box; position: relative; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08); border-radius: 0 8px 8px 8px; margin-bottom: 24px; }
#script_list ul li ul li.index { background: left / 130px url('~@/assets/images/v2_imgs/index-bg.png') no-repeat; box-sizing: border-box; padding: 7px 16px; height: 30px; position: relative; }
#script_list ul li ul li.index span { padding-top: 2px; font-size: 10px; }
#script_list ul li ul li.index span em { color: #fff; font-size: 10px; }
#script_list ul li ul li.index .function_buttons { display: inline-block; position: absolute; right: 6px; bottom: 6px; }
#script_list ul li ul li.index .icon_bg_24 { padding: 4px; border-radius: 12px; margin-right: 10px; }
#script_list ul li ul li.index .icon_bg_16 { position: absolute; top: 7px; left: 16px; }
#script_list ul li ul li .audio_player { position: absolute; left: 157px; top: 4px; }
#script_list ul li ul li .audio_player .time_line_bg { display: inline-block; width: 280px; height: 2px; background-color: #e3e8eb; margin: 3px 12px; }
#script_list ul li ul li .audio_player .time_line { width: 0%; height: 2px; background-color: #1db6cc; }
#script_list ul li ul li .audio_player>span { color: #616c78; display: inline-block; }
#script_list ul li ul li.index>span { color: #ffffff; position: absolute; top: 8px; left: 44px; }
#script_list ul li ul li textarea { width: 576px; height: 84px; padding: 12px; box-sizing: border-box; resize: none; border-radius: 4px; border: 1px solid #e3ebe3; position: absolute; top: 16px; right: 16px; font-size: 12px; font-weight: 400; letter-spacing: -0.06em; line-height: 20px; color: #414853; }
#script_list ul li ul li div.avatar { width: 56px; height: 56px; border-radius: 28px; margin: 0 0 8px 8px; }
#script_list ul li ul li.script_input_area { display: inline-block; }
#script_list ul li ul li.conversation button { width: 72px; height: 20px; border-radius: 10px; border: 1px solid #cad0d7; background-color: #ffffff; padding-bottom: 2px; }
#script_list ul li ul li.conversation button span { font-size: 10px; font-weight: 700; }
#script_list ul li ul li.conversation button:hover { color: #ffffff; background-color: #1db6cc; border: none; }
#script_list ul li ul li.conversation button:hover span { display: none; }
#script_list ul li ul li.conversation button:hover::after { text-indent: 0; content: '화자 변경'; font-size: 10px; font-weight: 700; }
#script_list ul li ul li.index .bg_purple:hover { box-shadow: 0 2px 6px 0 rgba(93, 31, 255, .6); }
#script_list ul li ul li.index .bg_blue:hover { box-shadow: 0 2px 6px 0 rgba(9, 100, 255, .6); }
#script_list ul li ul li.index .bg_sky_blue:hover { box-shadow: 0 2px 6px 0 rgba(27, 175, 253, .6); }
#script_list .script_all_player { width: 139px; height: 89px; background: center / contain url('~@/assets/images/v2_imgs/img-cloud.png') no-repeat; position: fixed; bottom: 12px; right: 12px; }
#script_list .script_all_player i::before { position: absolute; top: 42px; left: 24px; }
#script_list .script_all_player span { font-size: 14px; font-weight: 700; color: #fff; position: absolute; top: 45px; left: 52px; }

#script_list .add { visibility: hidden;}
#script_list ul li:last-child .add { visibility: visible; content: ''; width: 100%; height: 48px; background: center / 36px url('~@/assets/images/v2_imgs/ico-add-36px.png') no-repeat #fff; border-radius: 8px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08); cursor: pointer; }

.testAdd { visibility: visible; content: ''; width: 100%; height: 48px; background: center / 36px url('~@/assets/images/v2_imgs/ico-add-36px.png') no-repeat #fff; border-radius: 8px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08); cursor: pointer; }
.ghost { opacity: 0.5; background: #c8ebfb; }