<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_character_change', 'modal_speaker_change']">
        <h4 slot="title">화자 변경</h4>
        <section slot="content">
            <p>해당 스크립트의 화자가 선택한 캐릭터로 변경됩니다.</p>
            <div class="list_wrap">
                <input type="checkbox" name="characters" id="jungwo" onclick="doOpenCheck(this);">
                <label for="jungwo">
                    <div class="avatar jungwo-72">
                        <div class="icon_bg_24 bg_blue_green">
                        <i class="icon-ico-speaker-16px"></i>
                        </div>
                    </div>
                    <ul class="avatar_detail_info">
                        <li><em>정우</em></li>
                        <li><em>KOR/ENG</em> 성인 남자 - 진중한</li>
                        <li><a href=""><em>캐릭터 선택</em></a></li>
                    </ul>
                </label>
            </div>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'CharacterSingleChangePopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
        },
        
    }
</script>

<style lang="scss" scoped>

</style>