<template>
    <AVAModal v-show="isModal(this)"  
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_character_change']">
        <h4 slot="title">캐릭터 변경</h4>
        <section slot="content">
            <p>모든 <em>상진</em> 캐릭터가 <em>선택한 캐릭터</em>로 변경됩니다.</p>
            <div class="list_wrap">
                <input type="checkbox" name="characters" id="jungwo" onclick="doOpenCheck(this);">
                <label for="jungwo">
                <div class="avatar jungwo-72">
                    <div class="icon_bg_24 bg_blue_green">
                    <i class="icon-ico-speaker-16px"></i>
                    </div>
                </div>
                <ul class="avatar_detail_info">
                    <li><em>정우</em></li>
                    <li><em>KOR/ENG</em> 성인 남자 - 진중한</li>
                    <li><a href=""><em>캐릭터 선택</em></a></li>
                </ul>
                </label>
            </div>
            <button @click="selectedClicked">선택 완료</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'CharacterMultipleChangePopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            selectedClicked() {
                this.removeModal(this);
            },
        },
        
    }
</script>

<style lang="scss" scoped>

</style>