<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" id="import">
        <h4 slot="title">불러오기</h4>
        <section slot="content">
            <p>내용을 확인하고 파일을 열어주세요.</p>
            <div class="contents_area">
                <div class="import_lists">
                    <ul>
                        <li class="selected">
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의 품에는</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>
                        <li>
                        <span class="date">2020.11.10 08:30</span>
                        <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                        <i class="icon-ico-solid-delete-24px"></i>
                        </li>

                    </ul>
                </div>
                <div class="import_list_contents">
                    <p>2020.11.10 08:30</p>
                    <p class="title">청춘 품에 풀이 칼이다. 방황하여도 그들의</p>
                    <ul class="selected_character_list">
                        <li class="jungwo-56"></li>
                        <li class="sangjin-56"></li>
                        <li class="minjun-56"></li>
                        <li class="sunghun-56"></li>
                        <li class="seohyun-56"></li>
                        <li class="yejun-56"></li>
                        <li class="ria-56"></li>
                        <li class="mina-56"></li>
                        <li class="jiyeon-56"></li>
                    </ul>
                    <ul class="selected_script">
                        <li class="selected_script_contents">
                        <ul>
                            <li class="character_name">정우</li>
                            <li class="character_script">
                            청춘 품에 풀이 칼이다. 방황하여도, 그들의 얼마나 듣는다. 우리는 군영과 대중을 우리의 인도하겠다는 싶이 없으면, 황금시대다. 이것이야말로 꽃이 가슴에 꽃 원질이 인생에 부패뿐이다.
                            싶이 살았으며, 보이는 쓸쓸하랴? 충분히 할지니, 것이다.보라, 공자는 우리 보라. 우리 것이다.보라, 인류의 이것이다. 따뜻한 설산에서 그들은 투명하되 발휘하기 위하여서. 품으며,
                            과실이 방황하였으며, 인간의 힘있다. 얼음이 위하여서 있는 있는가?
                            </li>
                        </ul>
                        <ul>
                            <li class="character_name">상진</li>
                            <li class="character_script">
                            청춘 품에 풀이 칼이다. 방황하여도, 그들의 얼마나 듣는다. 우리는 군영과 대중을 우리의 인도하겠다는 싶이 없으면, 황금시대다. 이것이야말로 꽃이 가슴에 꽃 원질이 인생에 부패뿐이다.
                            싶이 살았으며, 보이는 쓸쓸하랴? 충분히 할지니, 것이다.보라, 공자는 우리 보라.
                            </li>
                        </ul>
                        <ul>
                            <li class="character_name">책 읽어주는 여자</li>
                            <li class="character_script">
                            청춘 품에 풀이 칼이다. 방황하여도, 그들의 얼마나 듣는다. 우리는 군영과 대중을 우리의 인도하겠다는 싶이 없으면, 황금시대다. 이것이야말로 꽃이 가슴에 꽃 원질이 인생에 부패뿐이다.
                            싶이 살았으며, 보이는 쓸쓸하랴? 충분히 할지니, 것이다.보라, 공자는 우리 보라. 우리 것이다.보라, 인류의 이것이다. 따뜻한 설산에서 그들은 투명하되 발휘하기 위하여서. 품으며,
                            과실이 방황하였으며, 인간의 힘있다. 얼음이 위하여서 있는 있는가?
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <button @click="jobLoadClicked">확인</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobImportPopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            jobLoadClicked() {
                this.removeModal(this);
                alert('불러오기 클릭')
            }
        },
        
    }
</script>

<style lang="scss" scoped>
    
</style>