<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        id="all_download" :isClose="true">
        <h4 slot="title">전체 다운로드</h4>
        <section slot="content">
            <form action="">
                <label for="download_title"></label>
                <input type="text" id="download_title" placeholder="파일 제목을 입력해주세요.">
                <div>
                <p>파일 다운로드 방식</p>
                <input type="radio" id="individual" value="개별 파일다운로드" name="file" checked>
                <label for="individual">개별 파일다운로드</label>
                <input type="radio" id="all" value="전체 파일다운로드" name="file">
                <label for="all">전체 파일다운로드</label>
                </div>
                <div>
                <p>파일 포맷 형식</p>
                <input type="radio" id="wav" value="wav" name="format">
                <label for="wav">wav</label>
                <input type="radio" id="mp3" value="mp3" name="format" checked>
                <label for="mp3">mp3</label>
                </div>
                <button type="submit" @click="jobResultDownloadClicked">다운로드</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobResultDownloadPopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
             ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            jobResultDownloadClicked() {
                this.removeModal(this);
                alert('다운로드')
            }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>