<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true">
        <h4 slot="title">다른이름으로 저장하기</h4>
        <section slot="content">
            <p>작업하신 파일을 새 이름으로 저장합니다. 파일 제목을 입력하세요.</p>
            <form action="">
                <label for="save_title"></label>
                <input type="text" id="save_title" value="다른이름으로저장하기(1)" class="error">
                <p>중복된 파일명이 존재합니다. 다른 이름을 입력해주세요.</p>
                <button type="submit" @click="jobSaveAsClicked">다른이름으로 저장하기</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobSaveAsFilePopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            jobSaveAsClicked() {
                this.removeModal(this);
                alert('다른 작업으로 저장')
            }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>