<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true">
        <h4 slot="title">저장하기</h4>
        <section slot="content">
            <p>작업하신 파일을 저장합니다. 파일 제목을 입력하세요.</p>
            <form action="">
                <label for="save_title"></label>
                <input type="text" value="제목없음">
                <button type="submit" @click="jobSaveClicked">저장하기</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobSaveFilePopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            jobSaveClicked() {
                alert('저장')
                this.removeModal(this);
            }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>