<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_m']">
        <h4 slot="title">비밀번호 변경</h4>
        <section slot="content">
            <p>보안을 위해 비밀번호를 주기적으로 변경해주세요.</p>
            <form action="">
                <label for="old_password">Old Password<strong>*</strong></label>
                <input type="password" placeholder="기존 비밀번호를 입력하세요." />

                <label for="new_password">New Password<strong>*</strong></label>
                <input type="password" placeholder="새로운 비밀번호를 입력하세요." />

                <label for="new_password_confirm">New Password Confirm<strong>*</strong></label>
                <input type="password" placeholder="새로운 비밀번호를 다시한번 입력하세요." />

                <button type="submit" @click="confirmClicked">확인</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'MyAccountPasswordModifyPopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            confirmClicked() {
                this.removeModal(this);
            }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>