<template>
    <AVAModal v-show="isModal(this)" 
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_m']">
        <h4 slot="title">개인정보 변경</h4>
        <section slot="content">
            <p>변경하실 정보를 입력하고 저장하세요.</p>
            <form action="">
                <label for="email">E Mail</label>
                <input type="email" readonly disabled v-model="this.userInfo.userId" />

                <label for="name">Name(Nick name) <strong>*</strong></label>
                <input type="text" placeholder="이름(별명)을 입력해주세요." v-model="this.userInfo.userNm" />

                <label for="contact_info">Contact Info. <strong>*</strong></label>
                <input type="number" placeholder="연락 가능한 전화번호를 '-'(하이픈)없이 입력해주세요." />

                <label for="company">Company</label>
                <input type="text" placeholder="회사/소속을 입력해주세요." v-model="this.userInfo.copanyNm" />

                <button type="submit" @click="confirmClicked">확인</button>
            </form>
            <a href="javascript:void(0)" @click="unregisterClicked">회원탈퇴 ></a>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'MyAccountModifyPopup',
        components: {
            AVAModal,
        },
        computed: {
            ...mapState('user', {
                userInfo: 'userInfo'
            }),
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            confirmClicked() {
                this.removeModal(this);
            },
            unregisterClicked() {
                alert("탈퇴")
            }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>