<template>
    <li @click.prevent="setCharacterClicked">
        <div :class="['avatar', `${characterClass}-72`]">
            <div class="icon_bg_24 bg_blue_green" v-if="hasVoiceSample" @click.stop.prevent="sampleAudioClicked">
                <i class="icon-ico-speaker-16px"></i>
            </div>
        </div>
        <p>{{characterName}}</p>
        <ul class="avatar_detail_info">
            <li><em>{{characterName}}</em></li>
            <li><em>{{characterLangSkill}}</em> {{characterFeature}}</li>
            <li><a href="javascript:void(0)" @click.stop.prevent="changeCharacterClicked"><em>캐릭터 변경</em></a></li>
        </ul>
    </li>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    export default {
        props: {
            character: {
                type: Object,
                required: true
            },
        },
        computed: {
            ...mapGetters('job', {
                getLastIndexFromJobScripts: 'getLastIndexFromJobScripts',
            }),
            characterId() {
                return this.character.characterId;
            },
            characterClass() {
                if(this.character.avatarClassNm == null) {
                    return "avatar-sample"
                }
                return this.character.avatarClassNm
            },
            characterLangSkill() {
                return this.character.characterLang || ""
            },
            characterName() {
                return this.character.characterNm || ""
            },
            characterFeature() {
                return this.character.characterFeature || "";
            }
           
        },
        methods: {
            ...mapActions('job', {
                insertAtJobScript: 'insertAtJobScript',
            }),
            ...mapActions('character', {
                setLastCharacter: 'setLastCharacter', // 가장 나중에 선택된 보이스폰트
            }),

            setCharacterClicked() {
                this.setLastCharacter(this.character); // 초기 Dummy Script를 위한 세팅
                let insertAtIndex = this.getLastIndexFromJobScripts();
                this.insertAtJobScript({index:insertAtIndex, characterId: this.characterId})
            },
            changeCharacterClicked(e) {
                console.log("change button")
                this.$emit("notify:changeCharacter", {
                    "no": this.character.characterNo,
                    "id": this.character.characterId
                });
            },
            hasVoiceSample() {
                return this.character.voiceSampleUrl !== '' && this.character.voiceSampleUrl !== undefined && this.character.voiceSampleUrl !== null;
            },
            sampleAudioClicked() {
                var expUrl = /^http[s]?\:\/\//i;
                let isUrlPath = expUrl.test(this.character.voiceSampleUrl)
                if(isUrlPath) {
                    this.$emit('notify:playVoiceSample', this.character.voiceSampleUrl);
                } else {
                    this.$emit('notify:playVoiceSample', require(`@/assets/voiceSample/${this.character.voiceSampleUrl}`));
                }
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>