<template>
    <section id="character_list">
      <ul>
        <CharacterItem 
            v-for="(item, index) in characters"
            :character="item"
            :key="index"
            @notify:playVoiceSample="handlerNotifyPlayVoiceSample"
            @notify:changeCharacter="handlerNotifyChangeCharacter"
            >
        </CharacterItem>
      </ul>
    </section>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';
    import CharacterItem from '@/components/character/CharacterItem';

    export default {
        components: { CharacterItem },
        data() {
            return {
                audio: new Audio(),
            }
        },
        computed: {
            ...mapState('character', {
                characters: 'characters',
            })
        },
        methods: {
            ...mapActions('base', {
                setModal: "setModal"
            }),
            handlerNotifyPlayVoiceSample(sampleUrl) {
                this.audio.pause();
                this.audio.src = sampleUrl;
                this.audio.load();
                this.audio.play();
            },
            handlerNotifyChangeCharacter({id}) {
                alert(`현재 선택된 id : ${id}`);
                this.setModal('CharacterMultipleChangePopup')
            }

        }
    }
</script>

<style lang="scss" scoped>

</style>