<template>
    <div class="container main">
        <nav id="nav">
            <h1 class="logo">
                <a href="javascript:void(0)" @click="goHomeClicked"></a>
            </h1>
            <NavMyInfoView />
            <NavSideMenuView />
        </nav>
        <!-- voice font List area -->
        <CharacterList />
        <!-- <ScriptMinMapView /> -->
        <ScriptMainView />
        <CharacterMultipleChangePopupView />
        <CharacterSingleChangePopupView />
        <MyAccountModifyPopupView />
        <MyAccountPasswordModifyPopupView />
        <LoggedOutPopupView />
        <JobNewFilePopupView />
        <JobImportPopupView />
        <JobSaveFilePopupView />
        <JobSaveAsFilePopupView />
        <JobResultDownloadPopupView />
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapState, mapGetters, mapActions } from 'vuex';
    import NavMyInfoView from '@/components/nav/NavMyInfoView.vue';
    import NavSideMenuView from '@/components/nav/NavSideMenuView';
    import CharacterList from '@/components/character/CharacterList';
    import ScriptMinMapView from './partials/ScriptMinMapView';
    import ScriptMainView from './partials/ScriptMainView';

    import CharacterMultipleChangePopupView from '@/components/popup/CharacterMultipleChangePopupView';
    import CharacterSingleChangePopupView from '@/components/popup/CharacterSingleChangePopupView';
    import MyAccountModifyPopupView from '@/components/popup/MyAccountModifyPopupView';
    import MyAccountPasswordModifyPopupView from '@/components/popup/MyAccountPasswordModifyPopupView';
    import LoggedOutPopupView from '@/components/popup/LoggedOutPopupView';
    import JobNewFilePopupView from '@/components/popup/JobNewFilePopupView';
    import JobImportPopupView from '@/components/popup/JobImportPopupView';
    import JobSaveFilePopupView from '@/components/popup/JobSaveFilePopupView';
    import JobSaveAsFilePopupView from '@/components/popup/JobSaveAsFilePopupView';
    import JobResultDownloadPopupView from '@/components/popup/JobResultDownloadPopupView';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const CharacterRepository = RepositoryFactory.get('character');

    export default {
        components: { 
            NavMyInfoView, 
            NavSideMenuView, 
            CharacterList,
            ScriptMinMapView,
            ScriptMainView,
            
            CharacterMultipleChangePopupView,
            CharacterSingleChangePopupView,
            MyAccountModifyPopupView,
            MyAccountPasswordModifyPopupView,
            LoggedOutPopupView,
            JobNewFilePopupView,
            JobImportPopupView,
            JobSaveFilePopupView,
            JobSaveAsFilePopupView,
            JobResultDownloadPopupView,
        },
        methods: {
            ...mapActions('character', {
                setCharacters: 'setCharacters',     // 보이스폰트 리스트 저장
                setLastCharacter: 'setLastCharacter', // 가장 나중에 선택된 보이스폰트
            }),
            ...mapActions('job', {
                clearJobBasicInfo: 'clearJobBasicInfo',
                insertAtJobScript: 'insertAtJobScript' 
            }),
            ...mapActions('user', {
                login: 'login'
            }),
            goHomeClicked() {
                this.$router.push({ name: 'MainHomeView' });
            }
        },
        async created () {
            const vm = this;
            try {
                this.clearJobBasicInfo(); // JOB ID, TITLE 초기화
                const [dailyCharacter, characterList] = await Promise.all([CharacterRepository.dailyCharacter(), CharacterRepository.list()]);
                this.setCharacters(characterList.data); // 화자 리스트 Store 저장
                this.setLastCharacter(dailyCharacter.data);
                this.insertAtJobScript({index:0}) // 초기 Dummy Script를 위한 세팅
            }catch(e) { }
            
        },
    }
</script>

<style lang="scss">
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>