<template>
    <div id="wrap">
        <div class="container sign_up">
            <h1 class="logo">
                <a href="../index.html"></a>
            </h1>
            <p>Sign Up,</p>
            <form action="">
                <fieldset>
                <legend>sign in</legend>
                <label for="email">E Mail<span>(ID)</span><strong> *</strong></label>
                <input type="email" id="email" name="email" placeholder="이메일을 입력해주세요." maxlength="200">
                <button value="이메일 인증받기" id="button_certification" type="button">이메일 인증받기</button>
                <p>이메일 인증이 완료되었습니다.</p>
                <label for="password" class="">Password<strong> *</strong></label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요." maxlength="20">
                <p class="password error">영문, 숫자, 특수문자를 포함하여 8자 이상 입력하세요.</p>

                <label for="password_confirm" class="error">Password Confirm<strong> *</strong></label>
                <input type="password" id="password_confirm" name="password_confirm" placeholder="비밀번호를 다시한번 입력해주세요." maxlength="20">
                <p>비밀번호가 일치하지 않습니다. 다시 입력해주세요.</p>

                <label for="name">Name(Nick name)<strong> *</strong></label>
                <input type="name" id="name" name="name" placeholder="이름(별명)을 입력해주세요." maxlength="10">
                <label for="contact_info">Contact Info.<strong> *</strong></label>
                <input type="number" id="contact_info" name="contact_info" placeholder="연락 가능한 전화번호를 '-'(하이픈)없이 입력해주세요." maxlength="20">
                <label for="company">Company</label>
                <input type="text" id="company" name="company" placeholder="회사/소속을 입력해주세요." maxlength="20">

                <button type="submit" value="Sign Up" class="button_submit">
                    <p>Sign Up</p>
                    <div class="icon_bg_68 bg_sign_up_blue">
                    <i class="icon-ico-check-signup-24px"></i>
                    </div>
                </button>
                </fieldset>
            </form>
        </div>
        <AVAFooter />
    </div>
</template>

<script>

    import AVAFooter from '@/components/layout/AVAFooter.vue';
    export default {
        components: {
            AVAFooter,
        },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/sub';
</style>