<template>
    <div class="function_list list">
        <ul>
          <li>
            <a href="javascript:void(0)" @click="navJobNewFileClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-new-24px"></i>
              </div>
              <span>새파일</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navJobImportClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-folder-24px"></i>
              </div>
              <span>불러오기</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navJobSaveClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-save-24px"></i>
              </div>
              <span>저장하기</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navJobSaveAsClicked">
              <div class="icon_bg_40 bg_blue_green">
                <i class="icon-ico-saveas-24px"></i>
              </div>
              <span>다른이름으로 저장하기</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navJobResultDownloadClicked">
              <div class="icon_bg_40 bg_green">
                <i class="icon-ico-download-24px"></i>
              </div>
              <span>전체 다운로드</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navScriptRemoveClicked">
              <div class="icon_bg_40 bg_yellow_green">
                <i class="icon-ico-delete-24px"></i>
              </div>
              <span>전체 대본 삭제</span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="javascript:void(0)" @click="navPaymentClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-creditcard-24px"></i>
              </div>
              <span>결제하기</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navPaymentManagementClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-board-24px"></i>
              </div>
              <span>결제관리</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navDownloadListClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-list-24px"></i>
              </div>
              <span>다운로드 내역</span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="javascript:void(0)" @click="navUseTipClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-info-24px"></i>
              </div>
              <span>사용 팁</span>
            </a>
          </li>
          <li>
            <a class="new_notice" href="javascript:void(0)" @click="navNoticeClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-notification-24px"></i>
              </div>
              <span>공지사항</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navFaqClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-question-24px"></i>
              </div>
              <span>FAQ</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="navContactUsClicked">
              <div class="icon_bg_40 bg_blue_green">
                <i class="icon-ico-mail-24px"></i>
              </div>
              <span>문의하기</span>
            </a>
          </li>
        </ul>
      </div>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';
    export default {
      data() {
        return {
          dummyData: []
        }
      },
      methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        ...mapActions('job', {
            setJobScripts: 'setJobScripts',             // JOB Script List 저장
        }),
        navJobNewFileClicked() {
          this.setModal("JobNewFilePopup");
        },
        navJobImportClicked() {
          this.setModal("JobImportPopup");
        },
        navJobSaveClicked() {
          this.setModal("JobSaveFilePopup")
        },
        navJobSaveAsClicked() {
          this.setModal("JobSaveAsFilePopup")
        },
        navJobResultDownloadClicked() {
          this.setModal("JobResultDownloadPopup")
        },
        navScriptRemoveClicked() {
          alert("준비중")
        },
        navPaymentClicked() {
          alert("준비중")
        },
        navPaymentManagementClicked() {
          alert("준비중")
        },
        navDownloadListClicked() {
          alert("준비중")
        },
        navUseTipClicked() {
          alert("준비중")
        },
        navNoticeClicked() {
          alert("준비중")
        },
        navFaqClicked() {
          alert("준비중")
        },
        navContactUsClicked() {
          alert("준비중")
        }
      },
        
    }
</script>

<style lang="scss" scoped>
</style>